<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>
        {% block title %} {% endblock title %}
    </title>
    {% block css %} {% endblock css %}
    
  </head>
  <body>
       <nav>
          <a href="{% url 'home' %}">Home page</a>
          </nav>

       {% block body %}
       
            <h1>{{ post_dict.title }}</h1>
            <p>{{ post_dict.content }}</p>
    
       
       {% endblock body %}


      <footer>
        Footer
      </footer>
    
    </body>
  </html>
